.Card{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 500px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    text-align: left;
    padding: 10px;
}
ul{
    padding-left: 0px;
}
p{
    max-width: 200px;
    margin: 5px;
}
li{
    list-style-position: inside
}
button {
    align-self: center;
    margin: 5px;
    border: 2px solid black;
    }
    npm
.CartItem{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    }
.TasksButtons,.UserButtons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }